@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

@mixin center($width: null, $height: null) {
    position: absolute;
    top: 50%;
    left: 50%;
  
    @if not $width and not $height {
      transform: translate(-50%, -50%);
    } @else if $width and $height {
      width: $width;
      height: $height;
      margin: -($width / 2) #{0 0} -($height / 2);
    } @else if not $height {
      width: $width;
      margin-left: -($width / 2);
      transform: translateY(-50%);
    } @else {
      height: $height;
      margin-top: -($height / 2);
      transform: translateX(-50%);
    }
  }

html{
    -webkit-box-sixing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

$font-used: 'Roboto', sans-serif;
$b-color: #fbfbfb;
$t-color: #202020;
$mynewcolor:#F99E1A;

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}
    
.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

.jumbo{
    background: url('./header-img.jpg') no-repeat fixed bottom;
    background-size: cover;
    color: $b-color;
    height: 200px;
    position: relative;
    z-index: -2;
}

.overlay{
    background-color: $t-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.panel{
    border-radius: 5px;
    position: relative;
    background-color: $t-color;
    color: $b-color;
}

.panel-body{
    padding: 0;
    line-height: 1.5;
    padding: 18px;
    font-size: large;
    font-family: $font-used;
    color: $b-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel{
    padding: 10px;
}
